apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: {{ operator_group | default(operator['operator_group']) }}
  namespace: {{ operator['namespace']['name'] }}
spec:
  targetNamespaces:
    - {{ operator['namespace']['name'] }}
