apiVersion: v1
kind: Secret
metadata:
  name: {{ exercise['secret']['name'] }}
  namespace: {{ exercise['namespace']['name'] }}
type: Opaque
data:
{% for pair in secret_data['results'] %}
  {{ pair['msg'] }}
{% endfor %}
