apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ application['pvc']['name'] }}
  namespace: {{ exercise['namespace']['name'] }}
spec:
  accessModes:
{% for mode in application['pvc']['accessModes'] %}
  - {{ mode }}
{% endfor %}
  resources:
    requests:
      storage: {{ application['pvc']['storage_size'] }}
{% if application['pvc']['storageClassName'] is defined %}
  storageClassName: {{ application['pvc']['storageClassName'] }}
{% endif %}
  volumeMode: {{ application['pvc']['volumeMode'] }}
